html, body
{
    margin: 0;
    padding:0;

    font-family: arial;
    font-size: 2.6vw;
}

a {
    text-decoration: none;
    color: #c585b7;
}

strong {
    color: red;
}

.mandatory {
    font-size: 0.9vw;
}

.invalide {
    color: red;
}

a:hover {
    text-decoration: underline;
    color: #e271af;
}

.header
{
    background-color : #f3e9f1;
    padding-bottom: 1vw;
    text-align: center;
}

.nav 
{
    display:block;
}

.nav__list
{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav__list--items
{
    margin-left: 3vw;
    margin-right: 3vw;
}

.nav__list--link
{
    text-decoration: none;
    color: #000;
}

.nav__list--link:hover 
{
    text-decoration: underline;
}


label {
    display: block;
    width: 25%;
}

input {
    display:block;
}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #f5e4d6;

    width: 100%;
}


.input {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#submitButton, .button_product {
    
    background-color: #cc32ab;
    color:white;
    font-size: 1vw;
    font-weight: bold;
    text-transform: capitalize;
     border-radius: 50px 50px;
    border: 3px #cc32ab outset;

    width: 35%;
    padding: 0.5vw;
}
#submitButton:active {
    border: 3px #cc32ab inset;
}

.d-flex {
    display:flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.d-flex-between-align-center {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-around-align-center {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.padding {
    padding: 1.3vw;
    padding-left: 6.5vw;
}
.padding-l {
    padding-left: 1.3vw;
}

.padding_product {
    padding-left: 1.3vw;
}

.padding_basket {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
}

.button {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.button button {
    margin: 0.7vw;
}

.border-b {
    border-bottom: 1px #f3e9f1 solid;
}
.border-l {
    border-left: 1px #f3e9f1 solid;
}

.image {
    width: 15%;
    box-shadow: 3px 3px 3px #000;
}

.image_product {
    display:block;
    width: 50%;
}

.image_basket {
    width: 200px;
    box-shadow: 3px 3px 3px #000;
}

.title-price, .all-without-image  {
    padding-left: 1.3vw;
}

#storage {
    margin-top : 2.6vw;
    padding: 1.3vw;
    font-size: 1.5vw;
}

#emptyBasket {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.button_basket{
    width: 1.3vw;
}
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}


#clearStorage, #form {
    visibility: hidden;
}

#form {
    padding: 0 1.3vw;
}

#emptyBasket {
    visibility: visible;
}

#clearStorage {
    float: right;
    background: none;
    border:none;
    color: #555353;
    font-size: 0.7em;
}

#clearStorage:hover {
    color: #000;
    text-decoration: underline;
}
.clearStorage {
    width: 95%;
}
#Total{
    width: 95%;
    text-align: right;
    margin-right: 6.5vw;
}


.fa-trash-alt {
    color: #b874aa;
}
.fa-trash-alt:active {
    color: #b476a8;
    background-color: #e7cbe2;
}

.minus-one {
    font-weight: bold;
    color: #b874aa;
}
.minus-one:hover, .fa-trash-alt:hover {
    cursor: pointer;
    background-color: #f3e9f1;
}
.minus-one:active {
    color: #b476a8;
    padding: 1.3vw;
    border-radius: 100% 100%;
    background-color: #e7cbe2;
}

.border-button {
    padding: 1.3vw;
    margin: 1.3vw;
    border-radius: 100% 100%;
    border: 1px #b476a8 dashed;
}

@media (min-width: 992px) {
    html,body {
        font-size: 1.3vw;
    }
}

@media (max-width: 992px) {
    .button {
        align-items: center;
    }
    .button_basket {
        width: 3.9vw;
    }
    .image_basket {
        width: 100px;
    }
}

@media (max-width: 991px) and (orientation: portrait) {
    html,body {
        font-size: 3.9vw;
    }
    .padding {
        padding-left: 2.6vw;
    }
    .title-price, .all-without-image {
       margin-left: 2.6vw;
       margin-right:2.6vw;
    }

    #submitButton {
        width: 100%;
    }

    .button_product {
        width: 50%;
    }

    .d-flex-between-responsive-product {
        align-items: flex-start;
    }
}
